<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:magnesium</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-04-17T06:18:58Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>6A606874-CBCE-40F6-95BB-E45FC9D92F9B</string>
			<key>PageDigests</key>
			<dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ZdEpd8hnUbekynEanmU+sg==
					</data>
					<key>Size</key>
					<integer>140</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Rnr6ZMR5MfzbKiNKpfMGhw==
					</data>
					<key>Size</key>
					<integer>262</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					CrXyX7Af3Vam764k+AbX2w==
					</data>
					<key>Size</key>
					<integer>189</integer>
				</dict>
				<key>css/styles/electric.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UAZd+8upM+I4Ll+9a6fxHA==
					</data>
					<key>Size</key>
					<integer>827</integer>
				</dict>
				<key>css/styles/pink.css</key>
				<dict>
					<key>Digest</key>
					<data>
					s0ZkMYjCnpUjskyDotZRFA==
					</data>
					<key>Size</key>
					<integer>657</integer>
				</dict>
				<key>css/width/width_1000.css</key>
				<dict>
					<key>Digest</key>
					<data>
					A41LZqFjQrQN12hHwRBLOQ==
					</data>
					<key>Size</key>
					<integer>30</integer>
				</dict>
				<key>css/width/width_680.css</key>
				<dict>
					<key>Digest</key>
					<data>
					O0Lg78chFCqGBhBcn0w6xQ==
					</data>
					<key>Size</key>
					<integer>38</integer>
				</dict>
				<key>css/width/width_default.css</key>
				<dict>
					<key>Digest</key>
					<data>
					X8xm4KwAguRWrtn/Y9KTPQ==
					</data>
					<key>Size</key>
					<integer>158</integer>
				</dict>
				<key>css/width/width_variable.css</key>
				<dict>
					<key>Digest</key>
					<data>
					pscpKnXbhMXY/KzB0alv4g==
					</data>
					<key>Size</key>
					<integer>40</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/button_normal.png</key>
				<dict>
					<key>Digest</key>
					<data>
					AWTFEqWohfkKdd/ek1LQQw==
					</data>
					<key>Size</key>
					<integer>213</integer>
				</dict>
				<key>images/button_over.png</key>
				<dict>
					<key>Digest</key>
					<data>
					9934us7HJbOPkKHpV7ljPg==
					</data>
					<key>Size</key>
					<integer>224</integer>
				</dict>
				<key>images/footer_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sa329lxlcJ1bZqIYjPkaFQ==
					</data>
					<key>Size</key>
					<integer>185</integer>
				</dict>
				<key>images/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					j4mHIJr9M2pR4xwB76Ua2w==
					</data>
					<key>Size</key>
					<integer>209</integer>
				</dict>
				<key>images/pink/button_over.png</key>
				<dict>
					<key>Digest</key>
					<data>
					x9n3x2tJrDT/nKmRCyz6Vw==
					</data>
					<key>Size</key>
					<integer>225</integer>
				</dict>
				<key>images/sidebar_left.png</key>
				<dict>
					<key>Digest</key>
					<data>
					7nC5zABPh6gSPSqd41SE2A==
					</data>
					<key>Size</key>
					<integer>133</integer>
				</dict>
				<key>images/sidebar_right.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1qAYLluZ2rRMsZr7HyXk2w==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					iezQ8899+O5jnHKzWNWPWg==
					</data>
					<key>Size</key>
					<integer>3818</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					hLTh9X+UVggMRTq/jNVLUQ==
					</data>
					<key>Size</key>
					<integer>12860</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:magnesium</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
